.select-css {
    align-items: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-position: right 12px center;
    background-repeat: no-repeat,repeat;
    background-size: 14px 9px;
    border: 1px solid #d2d2d2;
    border-radius: 8px;
    box-sizing: border-box;
    color: #221f1f;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    height: 32px;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 40px;
    text-align: left;
    width: 100%;
}